<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trang chủ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-img  src="/assets/images/logo-toc.vn_.jpg"></ion-img>
            </ion-col>
            <ion-col size="8">
              <ion-button href="tel:0911112656" expand="block" color="dark" size="small" >
                  <ion-icon slot="icon-only" name="call"></ion-icon>
                  <ion-label style="margin-left: 10px;">Hotline</ion-label>
              </ion-button>
              <ion-button href="https://www.facebook.com/tocdephanquoc/" expand="block" color="dark"  size="small">
                  <ion-icon slot="icon-only" name="logo-facebook"></ion-icon> 
                  <span style="margin-left: 10px;">Follow us</span>
              </ion-button>
              <ion-button href="mailto:tocdepsaigon88@gmail.com" expand="block" color="dark"  size="small">
                  <ion-icon slot="icon-only" name="mail"></ion-icon> 
                  <span style="margin-left: 10px;">Send Email</span> 
              </ion-button>
            </ion-col>
          </ion-row>
    </ion-grid>

    <!-- Slide show -->
    <ion-slides pager="true" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)"  loop="true"  >
      <ion-slide *ngFor="let slide of slider" padding>
        <img [src]="slide.img" />
      </ion-slide>
    </ion-slides>

    <!-- Shop  -->
    <!-- List of Sliding Items -->
  
  <div *ngIf="sanphamtoc; else login">
      <ion-list>
        <ion-list-header>
          <ion-label>
            <h1>Shop mỹ phẩm tóc</h1>
          </ion-label>
        </ion-list-header>
      </ion-list>

      <ion-card *ngFor ="let item of sanphamtoc" color="">
          <ion-row>
              <ion-col size="4">
                    <ion-img [src]="item.pictures"></ion-img>
              </ion-col>
              <ion-col size="8">
                    <ion-text><p>{{item.title}}</p></ion-text>
                    <ion-text color="danger">
                      
                      <p><ion-icon name="pricetags"></ion-icon> {{item.priceNum}}</p>
                    </ion-text>
              </ion-col>
          </ion-row>
      </ion-card>

          
      
  </div>
  <ng-template #login>
    no data

  </ng-template>    


</ion-content>
