<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

          <!-- <ion-item routerLink="/menu" routerDirection="root" routerLinkActive="active">
              <ion-thumbnail>
                  <ion-img src="http://getdrawings.com/free-icon/google-hamburger-icon-59.png"></ion-img>
                </ion-thumbnail>
            <ion-label>
              dark
            </ion-label>
          </ion-item> -->
        <div *ngFor="let p of appPages">
            <!-- Standard Menu Item -->
            <ion-menu-toggle *ngIf="p.url && p.children == null">
              <ion-item [routerLink]="p.url" [routerDirection]="p.routerDirection" routerLinkActive="active">
                <ion-icon [src]="p.icon" slot="start"></ion-icon>
                <ion-label>
                  {{ p.title }}
                </ion-label>
                <ion-badge *ngIf="p.badge.status" color="success">{{p.badge.value}}</ion-badge>
              </ion-item>
            </ion-menu-toggle>

            <!-- Item with Children -->
            <!-- <ion-item button *ngIf="p.children?.length > 0"   detail>
              <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
              <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
              <ion-label>{{ p.title }} </ion-label>
            </ion-item> -->
      
            <!-- Children List for clicked Item -->
            <!-- <ion-list >
              <ion-menu-toggle>
                <ion-item *ngFor="let sub of p.children" class="sub-item"  routerDirection="root"
                  routerLinkActive="active">
                  <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                  <ion-label [routerLink]="sub.url">
                    {{ sub.title }}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list> -->
      
          </div>

      </ion-content>
    </ion-menu>


    <ion-router-outlet main name='primary'></ion-router-outlet>
    <ion-router-outlet name='sub-page'></ion-router-outlet>
  </ion-split-pane>
</ion-app>
